button::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}

.button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  apperance: none;
  padding: 14px;
  margin: 0;
  border: 1px solid #eee;
  display: inline-block;
  font-size: inherit;
  background: #eee;
  font-family: inherit;
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  line-height: normal;
  border-radius: 2px;
  padding: 14px 24px;
  text-align: center;
  color: inherit;
  
  &:hover {
    border: 1px solid #eee;
    background: darken(#eee, 2%);
  }
  
  i {
    color: hsl(0, 0%, 60%);
    margin-right: 4px;
  }
}

.button-block {
  padding: 14px 0;
  display: block;
}