.contact {
  border: 1px solid hsl(0, 0%, 80%);
  border-width: 1px 0;
  border-top-color: $accent;
  display: flex;
  
  & > section {
    flex: 1;
  }
  
  section + section {
    margin-left: 20px;
  }
  
  h2 {
    margin: $base-margin 0 16px;
  }
  
  p {
    margin: 0 0 $base-margin;
  }
}