.clearfix,
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }

}

@import "vars";

@import "components/button";
@import "components/grid";
@import "components/hr";
@import "components/typography";

@import "modules/contact";
