.contact {
  border: 1px solid hsl(0, 0%, 80%);
  border-width: 1px 0;
  border-top-color: $accent;
  display: block;
  margin-bottom: $base-margin;
  
  .column {
    width: 50%;
  }
  
  h2 {
    margin: $base-margin 0 8px;
  }
  
  p {
    margin: 0 0 $base-margin;
  }
}